
<div class="columns user-reviews">
  <div class="column">
    <div class="rating-container level">
      <span class="level-left">
        <h5><%= Traid.find_by(key: review.traid_key).offer %></h5>
      </span>
      
      <span class="level-right">
        <span><% review.calculate_whole_stars.times do %>
          <i class="fas fa-star"></i>
        <% end %></span>
        <span><% review.calculate_half_stars.times do %>
          <i class="fas fa-star-half"></i>
        <% end %></span>
      </span>
    </div>
    <div class="review-container">
      <% review_user = User.find(review.reviewing_user_id) %>
      <h5><%= link_to review_user.username, user_path(review_user) %> says: </h5>
      <%= review.text %>
    </div>
    
  </div>
</div>