.search-result {
    margin: 1em;
    padding: 1em;
}
#search-index-container {
    padding-top: 1%;
    margin: auto;
    width: 40%;
}
#filter-container {
    padding: 1em;
}
div#search-index-container > div:nth-of-type(odd) {
    background: rgba(255, 165, 0, 0.3);
}
div#search-index-container > div:nth-of-type(even) {
    background: rgba(0, 168, 81, 0.3);
}