// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-show-container {
    width: 50%;
    margin: auto;
    background-color: rgba(74,130,116,0.5);
}