// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-show-header{
    width: 50%;
    margin-left: 2.5%;
}
#user-show-header-traid-level {
    width: 110%;
    transform: translate(-10%,0);
}
#user-show-header-traid-level > div {
    margin: 0 2%;
}
#user-show-container {
    width: 95%;
    margin: auto;
}
#user-show-info-container {
    // border: 1px solid rgb(230,207,139);
    margin: 2.5%;
}
#user-show-reviews-container {
//   border: 1px solid rgb(230,207,139);
   margin: 2.5%;
}
#user-show-additional-info{
    margin: 2.5%;
    // border: 1px solid rgb(230,207,139);
}
#user-show-traid-form {
    display: none;
    position: relative;
}
#close-traid-form {
    position: absolute;
    top: 0;
    right: 0;
}
.user-reviews{
    width: 96%;
    margin: 2% auto !important;
    background-color: gainsboro;
}
#hidden-review-form{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    background-color: rgba(230,207,139,0.95);
}
#close-review-form {
    position: absolute;
    top: 1%;
    right: 1%;
}
.toggle-review-form :hover {
    cursor: pointer;
}
.border {
    border: 1px solid rgba(230,207,139,0.95);
}

// Homepage
#user-homepage-container {
    width: 60%;
    margin: auto;
}
.user-homepage-traid-snippet {
    background-color: rgba(255, 165, 0, 0.1);
    margin: 1em 0;
    padding: 1em;
    position: relative;
}
.user-homepage-traid-date > h6, .user-homepage-traid-date > p {
    display: inline-block;
}
.user-homepage-traid-link {
    position: absolute;
    top: 1em;
    right: 1em;
}