<div>
    <div>
      <h4>Offer: </h4>
      <p><%= traid.offer %></p>
    </div>
    <div>
      <h4>Conditions:</h4>
      <p><%= traid.conditions %></p>
    </div>

    <div>
      <%= traid.quantity %>
    </div>
</div>