$('#user-show-traid-form').html('<div id="traid-form-success"><h4>Your traid has been submitted! Go to My Listings under your homepage to track the traid negotiation.</h4><span id="close-traid-form-success" ><i class="fas fa-times"></i></span></div>')

  $('#close-traid-form-success').click(function(){
    $('#traid-form-success').toggle();
    $('#user-show-additional-info').toggle();
    $('#user-show-traid-form').toggle();
  })
